Pillow
psutil
hachoir
tgcrypto
pyrogram==1.4
motor
https://github.com/Tinche/aiofiles/archive/master.zip
dnspython
ffmpeg
asyncio
pyromod
anitopy
hachoir
aiohttp
python-dotenv
TgCrypto
html_telegraph_poster
